src/wsdl/localhost_8080/alunows.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ws.teste.br.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ws.teste.br.com/" name="AlunoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ws.teste.br.com/" schemaLocation="http://localhost:8080/alunows?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"></part>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"></part>
</message>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<message name="list">
<part name="parameters" element="tns:list"></part>
</message>
<message name="listResponse">
<part name="parameters" element="tns:listResponse"></part>
</message>
<message name="ReturnOnePerson">
<part name="parameters" element="tns:ReturnOnePerson"></part>
</message>
<message name="ReturnOnePersonResponse">
<part name="parameters" element="tns:ReturnOnePersonResponse"></part>
</message>
<portType name="AlunoService">
<operation name="remove">
<input wsam:Action="http://service.ws.teste.br.com/AlunoService/removeRequest" message="tns:remove"></input>
<output wsam:Action="http://service.ws.teste.br.com/AlunoService/removeResponse" message="tns:removeResponse"></output>
</operation>
<operation name="update">
<input wsam:Action="http://service.ws.teste.br.com/AlunoService/updateRequest" message="tns:update"></input>
<output wsam:Action="http://service.ws.teste.br.com/AlunoService/updateResponse" message="tns:updateResponse"></output>
</operation>
<operation name="create">
<input wsam:Action="http://service.ws.teste.br.com/AlunoService/createRequest" message="tns:create"></input>
<output wsam:Action="http://service.ws.teste.br.com/AlunoService/createResponse" message="tns:createResponse"></output>
</operation>
<operation name="list">
<input wsam:Action="http://service.ws.teste.br.com/AlunoService/listRequest" message="tns:list"></input>
<output wsam:Action="http://service.ws.teste.br.com/AlunoService/listResponse" message="tns:listResponse"></output>
</operation>
<operation name="ReturnOnePerson">
<input wsam:Action="http://service.ws.teste.br.com/AlunoService/ReturnOnePersonRequest" message="tns:ReturnOnePerson"></input>
<output wsam:Action="http://service.ws.teste.br.com/AlunoService/ReturnOnePersonResponse" message="tns:ReturnOnePersonResponse"></output>
</operation>
</portType>
<binding name="AlunoServicePortBinding" type="tns:AlunoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="remove">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="list">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ReturnOnePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AlunoServiceService">
<port name="AlunoServicePort" binding="tns:AlunoServicePortBinding">
<soap:address location="http://localhost:8080/alunows"></soap:address>
</port>
</service>
</definitions>